<table class="table table-striped people">
  <tr>
    <th>Name</th>
  </tr>
 
  <% @people.each do |person| %>
    <tr>
      <td><%= link_to person.name, edit_person_path(person), class: 'name' %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @people %>
<p><%= link_to 'Add', new_person_path, class: 'btn btn-default' %></p>